<div id="header">
  <h1>Задачи</h1>
  <%= button_tag(image_tag("add.png", style: "width: 26px; height: 26px"), class: "todoButton", alt: "Добавить задачу") %>
</div>
<div id="createTodoForm">
  <div id="createTodoFormInner">
    <h5>Новая задача</h5>
    <%= render 'todos/form' %>
  </div>
</div>
  <div class="container-fluid">
    <div class="row">
      <% @project.each do |project| %>
      <div class="col-lg-3 col-md-4 Todos">
        <h5><%= project.title %></h5>
        <ul>
          <% project.todos.each do |todo| %>
            <li>
              <%= form_for todo do |form| %>
                <label>
                  <%= form.check_box(:isCompleted) %>
                  <span class="todoText"><%= todo.text %></span>
                </label>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    </div>
  </div>
