<p>
  <strong>Название проекта:</strong><br>
  <%= @project.title %> |
  <%= link_to "Изменить название", edit_project_path(@project) %>
</p>
<p>
  <%= render @project.todos %><br>
  <h2>Создать задачу</h2>
  <%= render 'todos/form' %>
</p>
<p>
  <%= link_to "На главную", projects_path %>
</p>
